Package: i2pdf
Version: 0.1
Section: base
Priority: optional
Architecture: all
Depends: python, imagemagick
Maintainer: Murdej Ukrutny <vit.peprnicek@gmail.com>
Description: Convert images into one PDF.
